[Desktop Entry]
Version={0}
Name={1}
Comment[en]=It will show a toon walking, running and doing other actions on your desktop.
Comment[es]=Mostrará a una caricatura caminando, corriendo o realizando otras acciones en tu escritorio.
GenericName[en]=A little toon that moves on your desktop
GenericName[es]=Un pequeño personaje que moviéndose en tu escritorio
Exec={2}}
Icon={2}
Terminal=false
Type=Application
Categories=Game;Others;
