[Desktop Entry]
Version=0.1
Type=Application
Name=StickMan
Comment[en]=It will show a toon walking, running and doing other actions on your desktop.
Comment[es]=Mostrará a una caricatura caminando, corriendo o realizando otras acciones en tu escritorio.
GenericName[en]=A little toon that moves on your desktop
GenericName[es]=Un pequeño personaje que moviéndose en tu escritorio
TryExec=stickman
Exec=stickman
Icon=stickman
Categories=Game;GTK;
